@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  position: relative;
}

li {
  list-style: none;
}

.purple {
  color: #5d3eff;
}

/*

NAV BAR

*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 44px 20px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 24px;
  font-weight: 700;
  color: #494646;
  margin-left: 12px;
}

.nav__logo--img {
  width: 40px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  margin: 20px;
  color: #494646;
  font-weight: bold;
}

.nav__auth {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.nav__link--primary {
  background-color: #5d3eff;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}

.nav__link--primary:hover {
  background-color: #6030b1;
  transition: all 300ms ease;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6415ff;
  left: 0;
  bottom: -6px;
  transform: scaleY(0);
  transition: transform 250ms ease;
}

.link__hover-effect:hover::after {
  transform: scaleY(1);
}

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 28px;
  color: #494646;
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  border: 1px solid #e5e7eb;
  top: 24px;
  left: 16px;
  right: 16px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  transform: translateY();
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  margin: 12px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.menu__link {
  color: #494646;
}

.menu__link--primary {
  display: flex;
  background-color: #6415ff;
  color: white;
  padding: 12px 28px;
  border-radius: 50px;
}

.btn__menu--close {
  display: block;
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 22px;
  padding: 4px;
  color: #494646;
}

/*

ABOUT SECTION

*/

.about__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 80px 20px 0;
}

.about__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: #494646;
  margin-bottom: 32px;
}

.about__description {
  font-size: 16px;
  color: #494646;
  margin-bottom: 12px;
}

.about__input--container {
  width: 100%;
  max-width: 430px;
  height: 60px;
  border: 2px solid #e5e7eb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 18px;
  overflow: hidden;
}

.about__button {
  height: 48px;
  padding: 0 28px;
  border-radius: 50px;
  background-color: #6415ff;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__button:hover {
  background-color: #6030b1;
  transition: all 300ms ease;
}

.about__input {
  flex: 1;
  min-width: 0;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 25px;
  font-size: 16px;
  background-color: transparent;
}

.about__customers {
  margin-top: 40px;
  color: #49464675;
}

.about__customers--img {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.about__image {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/*

FEATURES SECTION

*/

.features__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
}

.features__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  text-align: center;
}

.features__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.features__description {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.features__list {
  width: 100%;
}

.features__list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.features__item {
  width: calc(100% / 3);
  display: flex;
  padding: 32px 24px;
}

.features__item--icon {
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  margin-right: 20px;
}

.features__item--description {
  display: flex;
  flex-direction: column;
}

.features__item--description h2 {
  font-size: 24px;
  color: #494646;
  margin-bottom: 12px;
}

.features__item--description--para {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  max-width: 180px;
}

/*

QUALITY SECTION

*/

.quality__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 80px 20px;
}

.quality__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 12px;
}

.quality__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  margin-bottom: 16px;
}

.quality__description {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 24px;
}

.quality__button {
  display: block;
  margin: 0 auto;
  background-color: #5d3eff;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  width: fit-content;
}

.quality__button:hover {
  background-color: #6030b1;
  transition: all 300ms ease;
}

.quality__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/*

STEPS SECTION

*/

.steps__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 80px 20px;
}

.steps__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.steps__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.steps__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 12px;
}

.steps__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  margin-bottom: 20px;
}

.steps__list {
  display: flex;
  flex-direction: column;
}
.step {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.step__number {
  font-size: 32px;
  font-weight: 700;
  color: #49464675;
  margin-right: 20px;
}

.step__description {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 700;
  color: #494646;
  margin-bottom: 8px;
}

.step__description--para {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

/*

VALUES SECTION

*/

.values__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
}

.values__content,
.values__image {
  width: 50%;
}

.values__content {
  padding: 32px 64px 32px 0;
}

.values__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  text-align: center;
}

.values__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  margin-bottom: 20px;
}

.values__description--para {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

.values__principles {
  margin: 24px 0;
}

.values__principles--list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.values__principle {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.values__principle--title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.values__image--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.values__image--wrapper--affordable {
  background-color: rgba(15, 153, 61, 0.623);
}

.values__image--wrapper--professionalism {
  background-color: rgba(189, 35, 35, 0.671);
}

.values__principle--name {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #243e63;
}

.values__principle--description {
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #49464675;
  margin: 20px 0;
}

.values__button {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #5d3eff;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  width: fit-content;
}

.values__button:hover {
  background-color: #6030b1;
  transition: all 300ms ease;
}

/*

PRICING SECTION

*/

.pricing__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
}

.pricing__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  text-align: center;
}

.pricing__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.pricing__description {
  color: #494646;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 576px;
  display: flex;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 64px;
  gap: 32px;
}

.plan {
  width: calc((100% - 64px) / 3);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.plan__business {
  background-color: #5d3eff;
  color: white;
}

.plan__stripe {
  height: 8px;
  left: 0;
  right: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
}

.plan__stripe--personal {
  background-color: rgb(129, 230, 217);
}

.plan__stripe--business {
  background-color: #fff;
}

.plan__stripe--enterprise {
  background-color: rgb(254, 178, 178);
}

.plan__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 36px 20px 28px;
  border-bottom: 1px solid #e5e7eb;
}

.plan__title {
  font-weight: 500;
}

.plan__price {
  font-size: 52px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan__duration {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
  color: #49464675;
}

.plan__duration--business {
  color: white;
}

.plan__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 28px 20px;
  border-bottom: 1px solid #e5e7eb;
}

.plan__target {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan__features {
  font-weight: 500;
  color: #49464675;
}

.plan__feature {
  font-size: 18px;
  margin-top: 20px;
}

.plan__feature--business {
  color: white;
}

.plan__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 28px 20px;
}

.plan__button {
  background-color: #5d3eff;
  padding: 12px 80px;
  border-radius: 50px;
  color: white;
  width: fit-content;
  transition: all 300ms ease;
}

.plan__button--personal {
  background-color: rgb(129, 230, 217);
  color: white;
}

.plan__button--personal:hover {
  box-shadow: 0 8px 20px rgba(56, 178, 172, 0.35);
  transform: translate(2px, -2px);
}

.plan__button--business {
  background-color: white;
  color: #5d3eff;
}

.plan__button--business:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.25);
  transform: translate(2px, -2px);
}

.plan__button--enterprise {
  background-color: rgb(254, 178, 178);
}

.plan__button--enterprise:hover {
  box-shadow: 0 8px 20px rgba(245, 101, 101, 0.35);
  transform: translate(2px, -2px);
}

.plan__business .plan__top,
.plan__business .plan__middle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/*

TESTIMONIALS SECTION

*/

.testimonials__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 80px 20px;
}

.testimonials__image,
.testimonials__content {
  width: 50%;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.testimonials__title {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
}

.testimonials__subtitle {
  font-size: 48px;
  color: #494646;
  font-weight: 700;
  margin-bottom: 20px;
}

.testimonials__description {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.testimonial {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.testimonial__rating {
  color: rgba(246, 173, 85);
  margin-bottom: 20px;
}

.testimonial__title {
  color: #494646;
  font-weight: 700;
  margin-bottom: 20px;
}

.testimonial__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  color: rgb(74 85 104);
  margin-bottom: 20px;
}

.testimonial__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.testimonial__profile--image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

.testimonial__profile--name {
  color: #494646;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}

.testimonial__profile--position {
  color: #49464675;
  font-size: 16px;
  font-weight: 500;
  padding-top: 4px;
}

.testimonial__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto
}

.testimonial__button {
  padding: 16px;
  margin: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f7;
  border-radius: 50%
}

.testimonial__button:hover {
  background-color: #c1c4c7af;
  transition: all 300ms ease;
}

/*

START SECTION

*/

.start__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 80px 20px;
  background-color: rgb(100, 21, 255);
}

.start__description,
.start__buttons {
  width: 50%;
}

.start__description {
  font-size: 30px;
  font-weight: 700;
  color: white;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  text-align: center;
}

.start__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.get-started__button {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 10px;
  background-color: #f56565;
  border-color: transparent;
  cursor: pointer;
}

.get-started__button:hover {
  background-color: #c73333ee;
  transition: all 300ms ease
}

.contact-us__button {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 10px;
  background-color: rgb(100, 21, 255);
  border-color: white;
  cursor: pointer;
}

.contact-us__button:hover {
  color: rgb(100, 21, 255);
  background-color: white;
  transition: all 300ms ease;
}

/*

FOOTER SECTION

*/

footer {
  padding: 64px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
  margin-top: 160px;
}

.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  background-color: rgb(100, 21, 255);
}

.footer__categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__category {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-weight: 700;
  color: white;
  margin-bottom: 32px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
  width: fit-content;
}

.footer-link__hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: -6px;
  transform: scaleY(0);
  transition: transform 250ms ease;
}

.footer-link__hover-effect:hover::after {
  transform: scaleY(1);
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background-color: rgb(116, 44, 255);
}

.footer__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.footer__bottom--top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__bottom--logo {
  height: 32px;
  width: 32px;
}

.footer__bottom--title {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin-left: 8px;
  letter-spacing: 0.9px;
}

.footer__bottom--copyright {
  display: flex;
  align-items: center;
  color: white;
}

.footer__bottom--links {
  display: flex;
  align-items: center;
  color: #243e63;
}

.footer__bottom--link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  margin-left: 20px;
  cursor: pointer;
}

.footer__bottom--link:hover {
  background-color: rgba(255, 255, 255, 0.753);
  transition: all 300ms ease;
}

/*

SMALL PHONES, TABLETS, LARGE SMARTPHONES 

*/

@media (max-width: 768px) {
.nav__links {
  display: none;
}

.btn__menu {
  display: block;
}

.about__container {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about__content {
  width: 100%;
}

.about__title {
  font-size: 30px;
}

.about__input--container {
  margin: 18px auto 0;
}

.about__image {
  width: 100%;
}

.features__container {
  width: 90%;
}

.features__description {
  justify-content: center;
  text-align: center;
  max-width: 430px;
  margin: 0 auto;
}

.features__item {
  width: calc(100% / 2);
}

.quality__subtitle {
  font-size: 44px;
}

.quality__button {
  margin: 0;
}

.quality__content {
  padding-right: 20px;
}

.quality__image {
  padding-left: 20px;
}

.steps__subtitle {
  font-size: 44px;
}

.values__title {
  text-align: left;
}

.values__subtitle {
  font-size: 44px;
}

.values__principles--list {
  flex-wrap: wrap;
}

.values__principle--title {
  justify-content: left;
}

.values__principle--description {
  text-align: left;
}

.values__button {
  margin: 0;
}

.plans {
  margin-top: 44px;
}

.plan {
  width: calc((100% - 64px) / 1);
  max-width: 400px;
  margin-top: 24px;
}

.testimonials__image {
  padding-right: 16px;
}

.testimonials__subtitle {
  font-size: 30px;
}

.testimonial__profile {
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.testimonial__profile--image {
  margin: 0;
  flex-shrink: 0;
}

.testimonial__profile--info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: auto;
  padding: 0;
}

.testimonial__profile--name {
  padding-top: 0;
}

.testimonial__profile--position {
  padding-top: 4px;
}

.testimonial__buttons {
  margin: 0;
}

.start__container {
  flex-direction: column;
}

.start__description {
  margin: 0 auto;
}

.start__description,
.start__buttons {
  width: 100%;
  padding: 10px 20px;
}

}

